:root {
  --header-height: 70px;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.credentials, .dashboard {
  padding: 1rem;
}

header {
  height: var(--header-height);
  background-color: white;
  width: 100%;
}


header input, header input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 2rem;
  min-width: 10%;
}


.credentials {
  background-color: antiquewhite;
}

.credentials-header-name {
  margin: 0;
}

.dashboard {
  padding: 1rem;
}


.cred-items {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.cred-items input {
  padding: .2rem 0.5rem;
  width: 50%;
}

button {
  padding: .2rem .5rem;
  cursor: pointer;
}

.credential-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.credentials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Dashboard css */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.cell {
  min-height: 300px;
  display: flex;
  margin-top: 1rem;
}

.cell-edit-mode {
  width: 100%
}


.cell-bottom-bar {
  display: flex;
  justify-content: space-evenly;
  color: #4d82b1;
  align-items: center;
}

.add-delete-cell {
  color: inherit;
  margin-right: 0.5rem;
}

.add-cell-button:hover,
.delete-cell-button:hover {
  cursor: pointer;
  color: #005baa;
}

.cell-edit-mode,
.cell-render-mode {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 10rem;
  height: auto;
  font-size: 1rem;
  padding: 1rem;
  outline: solid 1px #bbb;
  border-radius: 10px;
  margin: 0 0 1rem 0;
  padding: 2rem 1rem;
}


.cell-edit-mode {
  background-color: #f7f7f7;
  border-color: #444;
  border-radius: 0;
}